[Unit]
Description=Mount Boot Partition
Requires=local-fs.target

[Mount]
What=/dev/mmcblk0p4
Where=/boot
Type=vfat
Options=nofail,noauto,rw

[Install]
WantedBy=multi-user.target
